@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --light-brown: #b4b3ad;
  --med-brown: #4d4726;
  --dark-brown: #383735;
  --lightest-navy: #233554;
  --darkest-brown: rgba(24, 24, 23, 0.7);
  --dark-slate: #495670;
  --gold: #CABD9A;
  --gold2: #e3a650cb;
  --gold3: #ffebd0cb;
  --light-slate: #a8b2d1;
  --lightest-orange: #c3b19d;
  --medium-orange: #a36724;
  --white: #ffffff;
  --black: black;

  /* ——————————————————————————————
 VARIABLES - FONT SIZE & FAMILY
-—————————————————————————————— */

  --font-fat-face: "Abril Fatface", cursive;
  --font-Barlow: "Barlow", sans-serif;
  --font-Rye: "Rye", cursive;
  --font-Noto: "Noto Serif", serif;
  --font-Lato: "Lato", sans-serif;
  --font-xxs: 0.6em;
  --font-xs: 0.8em;
  --font-sm: 0.9em;
  --font-smm: 1em;
  --font-md: 1.4em;
  --font-ml: 1.6em;
  --font-lg: 1.8em;
  --font-lgx: 2.2em;
  --font-xl: 2.8em;
  --font-xxl: 5em;
}

/* ——————————————————————————————
     GENERAL - STYLING
—————————————————————————————— */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  scroll-behavior: smooth;
  font-family: var(--font-Lato);
  font-weight: 100;
}

p {
  font-family: var(--font-Lato);
}

/* ——————————————————————————————
                NAV
—————————————————————————————— */

nav.navigation {
  position: relative;
  height: 3em;
  width: 100%;
  background:var(--dark-brown);
  display: block;
}

ul.nav-menu,
ul.nav-menu li,
ul.nav-menu li a {
  float: left;
  list-style: none;
  font-size: var(--font-smm);
  font-weight: 100;
  font-family: var(--font-Noto);
}
ul.nav-menu {
  padding-left: 10px;
  padding: 0em 2em;
}
ul.nav-menu li a {
  padding: 0 10px;
  color: var(--white);
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-weight: bold;
}
ul.nav-menu li a:hover {
  color: var(--white);
}
.nav-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
span.icon-bar {
  position: absolute;
  right: 32px;
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--gold2);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.icon-bar:nth-child(1) {
  top: 17px;
}
.icon-bar:nth-child(2) {
  top: 24px;
}
.icon-bar:nth-child(3) {
  top: 31px;
}
.nav-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--white);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.nav-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ——————————————————————————————
    ICON BARS NAVIGATION
—————————————————————————————— */

.nav-toggle.active .icon-bar:nth-child(1) {
  top: 24px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.active .icon-bar:nth-child(2) {
  width: 0;
}
.nav-toggle.active .icon-bar:nth-child(3) {
  top: 24px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ——————————————————————————————
    Body Container - Grid layout
—————————————————————————————— */

.container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "hero hero hero hero hero hero"
    "barber barber cut-like-pros cut-like-pros location location"
    "secondary-about secondary-about secondary-about secondary-about secondary-about secondary-about"
    "article services services services services article-2"
    "article reviews reviews reviews reviews article-2"
    "article footer footer footer footer article-2";
}

/* ——————————————————————————————————-
              HERO
————————————————————————————————————— */

.hero {
  grid-area: hero;
  background-image: linear-gradient( rgba(129, 146, 141, 0.4), rgba(48, 50, 58, 0.8) ), url(images/hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: grid;
  place-content: center;
}

.hero h1 {
  color: var(--white);
  font-size: var(--font-xl);
  text-align: center;
  font-family: var(--font-Rye);
  font-weight: 100;
}

.hero h3 {
  color: var(--white);
  font-size: var(--font-sm);
  text-align: center;
  text-transform: capitalize;
}

.hero-btn {
  display: block;
  margin: 0px auto;
  margin-top: 4em;
  background: transparent;
  padding: 10px;
  border: 1px solid var(--white);
  border-radius: 10px;
  cursor: pointer;
}

.hero-btn a {
  color: var(--white);
  text-decoration: none;
}

/* ——————————————————————————————————-
          ABOUT TOP SECTION
————————————————————————————————————— */

.barber {
  grid-area: barber;
  background: var(--dark-brown);
  background-image: url("https://themes.muffingroup.com/be/barber2/wp-content/uploads/2016/06/home_barber2_box1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  height: 600px;
  height: 100vh;
}

.barber-text h2 {
  text-align: left;
  font-size: var(--font-md);
  color: var(--white);
  font-family: var(--font-Noto);
  font-weight: 100;
  margin-left: 40%;
  padding-top: 20%;
  
}

.barber-text .sub-header {
  color: var(--gold2);
}

.barber-text p {
  text-align: left;
  font-size: var(--font-smm);
  color: var(--light-brown);
  width: 170px;
  line-height: 1.2;
  margin-left: 40%;
  font-weight: 100;
  
}

.cut-like-pros {
  grid-area: cut-like-pros;
  background: var(--white);
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 1.5em;
}

#comb {
  display: block;
  margin: 0 auto;
}

.cut-like-pros-text h2 {
  text-align: center;
  font-size: var(--font-md);
  padding: 1em;
  color: var(--black);
  font-family: var(--font-Noto);
  font-weight: 100;
}

.cut-like-pros-text p {
  text-align: center;
  font-size: var(--font-smm);
  color: var(--darkest-brown);
  padding: 0em 2em;
  line-height: 1.5;
  font-weight: 500;
}

.location {
  grid-area: location;
  background: var(--dark-brown);
  display: grid;
  place-items: center;
  height: 100vh;
}

#location-icon {
  display: block;
  margin: 0px auto;
  margin-bottom: 1em;
}

.location-text h2 {
  text-align: center;
  font-size: var(--font-md);
  padding-bottom: 1em;
  color: var(--white);
  font-weight: 100;
  font-family: var(--font-Noto);
}

.location-text p {
  text-align: center;
  font-size: var(--font-smm);
  color: var(--gold2);
  width: 190px;
  line-height: 2.5;
  font-weight: 100;
}

/* ——————————————————————————————————-
          SECONDARY ABOUT 
————————————————————————————————————— */

.secondary-about {
  grid-area: secondary-about;
  background-color: var(--white);
  display: block;
  
}

.secondary-about h2 {
  font-size: var(--font-md);
  text-transform: capitalize;
  padding: 1em;
  text-align: center;
  color: var(--dark-brown);
  font-weight: bold;
}

.subgrid img {
  height: auto;
  width: 100%;
}




/* ——————————————————————————————————-
          SERVICES
————————————————————————————————————— */

.services {
  grid-area: services;
  height: fit-content;
  background: var(--dark-brown);
  text-align: center;
  width: 100%;
}

.services h1 {
  font-family: var(--font-Noto);
  color: var(--white);
  padding: 40px 0;
  font-size: var(--font-xl);
}

.services h2 {
  font-family: var(--font-Noto);
  color: var(--white);
  padding: 1em 0;
  font-size: var(--font-md);
}

.services p {
  color: var(--gold);
  padding: 3em 2em;
}


/* ——————————————————————————————————-
          ARTICLE
————————————————————————————————————— */

.article {
  grid-area: article;
  height: fit-content;
  background: var(--white);
}

.opening-times {
  text-align: center;
  padding: 1em;
}

.opening-times h2 {
  font-family: var(--font-Noto);
  padding: 1em 0;
}

.opening-times ul, li {
  list-style: none;
  padding: 0.75em;
  font-weight: 600;
  color: var(--dark-brown);
  font-family: var(--font-Noto);
}

/* ——————————————————————————————————-
          ARTICLE 2
————————————————————————————————————— */

.article-2 {
  grid-area: article-2;
  height: 100vh;
  background-image: linear-gradient( rgba(129, 146, 141, 0.6), rgba(48, 50, 58, 0.6) ), url(images/contact-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: grid;
  place-items: center;
}

.article-2 h2 {
  color: var(--white);
  text-align: center;
  padding: 1em;
  font-size: var(--font-lg);
  
}

.article-2 a {
  text-decoration: none;
  padding: 1em;
  color: var(--gold3);
  font-size: var(--font-smm);
  font-family: var(--font-Lato);
}

.article-2 i {
  padding: 1em;
  color: var(--medium-orange);
  margin-left: 1em;
  
} 



/* ——————————————————————————————————-
          REVIEWS
————————————————————————————————————— */

.reviews {
  grid-area: reviews;
  height:fit-content;
  background: var(--dark-brown);
  width: 100%;
  padding: 2em;
  display: grid;
  place-items: center;
  height: fit-content;
}

.reviews h1 {
  text-transform: capitalize;
  text-align: center;
  padding: 0.9em;
  color: var(--light-brown);
  font-size: var(--font-lg);
}

.review-1,
.review-2,
.review-3
{
  padding: 1em;
}

.review-1,
.review-2,
.review-3, h2 {
  font-size: var(--font-sm);
  color: var(--medium-orange);
}

.review-1,
.review-2,
.review-3, q {
  color: var(--white);
  line-height: 1.5;
}

.review-1,
.review-2,
.review-3, span:checked {
  color: var(--gold);
  padding: 1em;
}





/* ——————————————————————————————————-
          FOOTER
————————————————————————————————————— */

.footer {
  grid-area: footer;
  background-color: var(--white);
}

.address {
  text-align: center;
  background-color: var(--white);
  height: 18em;
  display: grid;
  place-content: center;
}

.address h2 {
  padding: 1em;
  font-size: var(--font-md);
}

.address p {
  font-weight: 400;
  color: var(--med-brown);
}




.screen {
  position: relative;
  background: var(--dark-brown);
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: var(--gold3);
}



.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--white);
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: var(--gold);
}

.app-contact {
  font-size: 0.5em;
  color: var(--gold2);
}


.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 0.75em 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: var(--font-sm);
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: var(--light-brown);
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: var(--gold2);
  font-size: 1em;
  cursor: pointer;
  outline: none;
  padding: 5px;
}

.app-form-button:hover {
  color: var(--white);
}

.socials {
  height: fit-content;
  background: var(--dark-brown);
  text-align: center;
}

.socials h2 {
  padding: 1.5em;
  font-size: var(--font-md);
  color: --white;
}
.socials i {
  font-size: 2em;
  color: var(--gold3);
  padding: 0.25em;
}

.copyright {
  color: var(--white);
}

.copyright-text {
margin-top: 4em;
font-size: var(--font-xxs);
}

.design-by {
  font-size: var(--font-xs);
  color: var(--gold);
}

/* ——————————————————————————————————-
     MEDIA QUERIES - MOBILE DEVICES
————————————————————————————————————— */

/* ------- Navigation Menu ------- */

@media screen and (max-width: 900px) {
  ul.nav-menu {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
    background: var(--dark-brown);
    opacity: 0.9;
  }
  ul.nav-menu.active {
    height: auto;
  }
  ul.nav-menu li {
    width: 100%;
  }
  ul.nav-menu li a {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: var(--dark-brown); /* background of toggle menu */
    
    
  }

  .nav-toggle {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .nav-overlay.active {
    visibility: hidden;
    opacity: 0;
  }

  .container {
    display: block;
  }

  ul.nav-menu li a:hover {
    color: var(--gold2);
    opacity: 1;
  }

  .secondary-about {
    height: fit-content;
  }

  .secondary-container-text img {
    width: 90%;
    height: 70vh;
  }

  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after {
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
}
}

/* ———————————————————————————————————————-
     MEDIA QUERIES - SMALL TABLET STYLES
——————————————————————————————————————————- */

@media screen and (min-width: 800px) {
}

/* ———————————————————————————————————————-
     MEDIA QUERIES - LARGE TABLETS & LAPTOP  STYLES
——————————————————————————————————————————- */

@media screen and (min-width: 1100px) {

.hero h1 {
  font-size: var(--font-xxl);
}

.hero h3 {
  font-size: var(--font-md);
}

.barber,
.cut-like-pros,
.location {
  height: 70vh;
  
}

.cut-like-pros {
  border-bottom: 1px solid var(--light-brown);
}

.secondary-about {
  background-color: var(--dark-brown);
  opacity: 0.9;
}

.secondary-about h2 {
  font-size: var(--font-xl);
  padding: 1em;
  color: var(--white);
}

.subgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 0em 10em;
  height: 80vh;
  gap: 1em;
}

.services-sub-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin:  0;
}

.article {
  grid-column: 5 / 8;
}


}
